# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/BeREEL/FileContentIndex/0ad19603-1868-49a6-ab4e-175571973f47.vsidx
*.vsidx
.vs/BeREEL/v17/.wsuo
