<!--TODO: what route lines up to this? addRanking button doesn't work right now.'-->
<form action="/user/{{username}}/rankings" method="Get">
    <button type="submit">View Rankings</button>
</form>
<form action="/albumsearch" method="Get">
    <button type="submit">Search for Album</button>
</form>

<a href="/logout">Click here to log out</a>