<ul>
<form action="/user/{{username}}/rankings" method="Get">
<li><button type="submit">View Rankings</button></li>
</form>
<form action="/albumsearch" method="Get">
    <li><button type="submit">Search for Album</button></li>
</form>

<a href="/logout">Click here to log out</a>

</ul>